#color {
  color: white;
}

.fab {
  font-size: 50px;
}

@media screen and (max-width: 780px) {
  .social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icon-style {
    padding: 10px;
  }
}
