@media only screen and (min-width: 688px) {
    .project-card{
        width: 75%;
    }
}
@media only screen and (max-width: 500px) {
    .project-card{
        width: 75%;
    }
}

.noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
          -webkit-tap-highlight-color: transparent;
  }
  
  .button {
      cursor: pointer;
      background: #333;
      margin: 10px;
      border: none;
      border-radius: 10px;
      box-shadow: -5px -5px 15px rgb(216, 211, 211), 5px 5px 15px rgb(216, 211, 211), inset 5px 5px 10px rgb(216, 211, 211), inset -5px -5px 10px rgb(129, 126, 126);
      color: rgb(10, 10, 10);
      font-size: 16px;
  }
  
  .button:hover {
      box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #222, inset -5px -5px 10px #444;
      font-size: 15px;
      transition: 500ms;
  }
  
  .button:focus {
      outline: none;
  }
  
  .green:hover {
          color: #93f071;
      text-shadow: 0px 0px 10px #93f071;
  }
  
  .blue:hover {
      color: #71b7f0;
      text-shadow: 0px 0px 10px #71b7f0;
  }
  
  .purple:hover {
      color: #b971f0;
      text-shadow: 0px 0px 10px #b971f0;
  }